body
{
    /*background: #ccd6e1;*/
    font-family: arial,serif;
     background: url("../imags/background.jpg");
}
#game
{
    width: 800px;
    height: 400px;
    margin: 0 auto;
}
#game h1
{  font-family: Monaco, Consolas, "Lucida Console", monospace;
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
    text-shadow:6px 4px 3px #333333;
    /*text-shadow: 0 2px 0 #fff ;*/
    color: #AA22FF;
}
#drawing-pad
 {
     margin: 0 auto;
    border-radius: 50px;
    z-index: 8;
    background: #f1f3ef;
    box-shadow: 12px 12px 6px #333;
    border: 20px deepskyblue solid

}
.panel{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-left: 58px;
    box-shadow: 12px 12px 6px #333;

}
.colorPanel{
    margin-top: 10px;
    margin-left: 30px;
}

.text{
    margin-left: 250px;
    width: 300px;
    border-radius: 8px;
    border: 2px blueviolet solid;
}
.send{
    border: 2px #B00040 solid;
    background-color: aqua;
    color: darkmagenta;
    border-radius: 10px;
}
#brush_width{
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 10px;

}
.brushWidth{
    box-shadow: 12px 12px 6px #333;
}
#width_10px{
    width: 200px;
    height: 10px;
    border-radius: 5px;
}

#width_20px{
    height: 20px;
    width: 200px;
    margin-left: 50px;
    border-radius: 20px;
}
#width_40px{
    height: 40px;
    width: 200px;
    margin-left: 50px;
    border-radius: 40px;
}
/*#chat-history*/
/*{*/
    /*list-style: none;*/
    /*padding: 0;*/
/*}*/
/*#chat-history li*/
/*{*/
    /*border-bottom: 1px dashed rgba(20,20,20,.2);*/
    /*margin: 10px 0;*/
/*}*/
/*div{*/
      /*left: 500px;*/
    /*width: 400px;*/
    /*height:30px;*/
    /*float: left;*/

/*}*/
